In [2]:
import pandas as pd

In [4]:
df = pd.read_excel("TripEvents.xlsx")

In [5]:
df.head()

,EventId,EventType,EventModality,EventPurpose,EventOffPeak,MeasureDistanceMetres,MeasureAverageKMH,MeasureCo2Grams,MeasureCo2GramsKm,MeasureMinutesExercise,EventEndDateTimeLocal,EventEndDateTimeUtc,EventStartDateTimeLocal,EventStartDateTimeUtc,b4721605-7554-4215-9729-3d99130b169b,MaskedUserId
0,21976,TripEvent,Bicycle,PersonalTrip,False,1800,20.00,0,0,6,2018-09-11 21:22:00,2018-09-11 21:22:00,2018-09-11 21:17:00,2018-09-11 21:17:00,b4721605-7554-4215-9729-3d99130b169b,9F20ABD7B315137ACAFE79E1DFCF4CD0
1,21977,TripEvent,Foot,PersonalTrip,False,680,5.67,0,0,7,2018-12-07 10:50:00,2018-12-07 10:50:00,2018-12-07 10:43:00,2018-12-07 10:43:00,b4721605-7554-4215-9729-3d99130b169b,9F20ABD7B315137ACAFE79E1DFCF4CD0
2,21978,TripEvent,Foot,PersonalTrip,False,910,5.06,0,0,11,2018-12-07 09:51:00,2018-12-07 09:51:00,2018-12-07 09:41:00,2018-12-07 09:41:00,b4721605-7554-4215-9729-3d99130b169b,9F20ABD7B315137ACAFE79E1DFCF4CD0
3,21979,TripEvent,Car,Commuting,False,13500,61.36,2444,181,0,2018-12-06 20:51:00,2018-12-06 20:51:00,2018-12-06 20:37:00,2018-12-06 20:37:00,b4721605-7554-4215-9729-3d99130b169b,9F20ABD7B315137ACAFE79E1DFCF4CD0
4,21980,TripEvent,Car,PersonalTrip,False,12800,55.65,2317,181,0,2018-12-06 12:04:00,2018-12-06 12:04:00,2018-12-06 11:50:00,2018-12-06 11:50:00,b4721605-7554-4215-9729-3d99130b169b,9F20ABD7B315137ACAFE79E1DFCF4CD0

In [6]:
df2 = pd.read_excel("TransactionEvents.xlsx")

In [7]:
df2.head()

,AggDatePersonModalityId,EventType,AggStartDate,AggModality,AggDistanceMetres,AggDistanceMetresOffPeak,AggTravelDurationMinutes,AggAverageKMH,AggCo2Grams,AggCo2GramsKm,...,AggFuelLiters,AggFuelLiters100Km,AggTrafficFinesScore,AggCarDamagesNumber,AggStandardFuelLiters100Km,AggTrafficFinesNumber,AggTravelObjectiveType,AggCustomizedConsumption,AggStandard_kWh_Consumption,MaskedUserId
0,450404,TransactionEvent,2019-01-01,Car,2319000,0,0,0,292474.1,126.0,...,0,5.56,6,0,0.0,1,NaN,5.36,-1.0,810A9CB1E9FA05418CB99A4308AD29C9
1,450418,TransactionEvent,2019-01-01,Car,0,0,0,0,0.0,0.0,...,0,0.00,10,0,0.0,0,NaN,5.13,-1.0,5213C04F1AB03FFE50E98DE450517D1D
2,450425,TransactionEvent,2019-01-01,Car,1111000,0,0,0,183789.0,165.0,...,0,7.29,10,0,0.0,0,NaN,5.36,-1.0,A5F89BEA0342D624388150225FF1BCED
3,450439,TransactionEvent,2019-01-01,Car,1966000,0,0,0,315617.9,161.0,...,0,7.07,10,0,0.0,0,NaN,5.57,-1.0,AF58B2080636E1D48FA804B896A68EB5
4,450446,TransactionEvent,2019-01-01,Car,0,0,0,0,0.0,0.0,...,0,5.37,10,0,0.0,0,NaN,5.57,-1.0,5895312CD218DD75D145DF431ADA1A59