In [25]:
import pandas as pandas

In [33]:
sensing = pandas.read_json("sensing-sample-2-trips.json")

In [39]:
sensing.head(10)

,time,validity,timezone,id,userid,quality,clientId,averageSpeed,totalDistance,totalInfraSegmentDistance,...,groupId,totalCost,numberOfPassengers,lastAnalyzed,regularTripId,mappedLocations,associatedRoutes,totalCalories,emissionType,amount
0,1589703637,7210,7200,22128972533,234309,1,T1589703693,6.9,47700.0,47660.0,...,20200517.082037.234309,2.39,0.0,1589717176,0.0,"[{'id': 10024852169, 'nodeId': -1, 'wayId': 69...",[],871.0,0.0,953.0
1,1589710847,671,7200,22128998756,234309,0,S1589710847.22128972532,NaN,NaN,NaN,...,None,NaN,NaN,1589717176,NaN,None,None,NaN,NaN,NaN
2,1589711518,2994,7200,22128998759,234309,1,S1589711518.22128972532,7.6,23200.0,23250.0,...,20200517.082133.234309,1.16,0.0,1589717176,0.0,"[{'id': 10024853317, 'nodeId': -1, 'wayId': 32...","[{'id': 5816194, 'name': 'Kastelenroute Nation...",362.0,0.0,547.0
3,1589717392,857,7200,22129491213,266630,1,T1589717469,12.1,7800.0,7800.0,...,20200517.120952.266630,1.95,0.0,1589719125,0.0,"[{'id': 10025338665, 'nodeId': -1, 'wayId': 70...",[],45.0,0.0,1096.0
4,1589718409,601,7200,22129764820,266630,6,T1589718409,NaN,NaN,NaN,...,None,NaN,NaN,1589720195,NaN,None,None,NaN,NaN,NaN

In [35]:
for key, value in sensing['reading'][0].items():
    i=0
    values=[]
    for row in sensing.iterrows():
        values.append(sensing.reading[i].get(key))
        i+=1
    sensing[key] = values

In [36]:
amount=[]
emissionType=[]
i=-1
for row in sensing.iterrows():
    i+=1
    try:
        amount.append(sensing['totalEmission'][i][0].get('amount'))
        emissionType.append(sensing['totalEmission'][i][0].get('emissionType'))
    except TypeError:
        amount.append(None)
        emissionType.append(None)
        continue
        
sensing['emissionType'] = emissionType
sensing['amount'] = amount

In [37]:
del sensing['reading']

In [38]:
del sensing['totalEmission']